
<html>
<head> <title> display </title> 
<style>
.else { color : red ; }
h1{text-align: center;}
h2, .else { text-align :center; margin-top:5%; }
table{display: inline-block;
text-align: center;
}
table,th,td{border: 1px solid black; border-collapse: collapse;}
</style>
</head>
<body>

<h1>{{ title }}</h1>

 
<table>
<tr>
	{% for field in result_fields %}
	{% for value in field %}
	    <th>{{value}}</th>
	{% endfor %}
    {% endfor %}
</tr>

{% for result in results %}



    <tr>
    {% for value in result %}
   
    <td>
    {% for item in value.items %}
    
    {{item.1}}
    {% endfor %}
   

         

  </td>
  {%endfor%}</tr>

  {%endfor%}
</table>	

{% if error %}
<h3 class="else"> Please select atleast one field </h3>
{% endif %}

</body>
</html>
